$black: black
$dark_brown: #f9f6ef
$dark_green: #072a2a
$hight_light: #ff8c33
$light_white: $black
$dark_white:  #979797

.carousel-block
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(36, 44, 51, 0.5), rgba(36, 44, 51, 0.5));
    align-items: center;

.pic
    width: 50px
    margin-right: 1rem