{{ define "main" }}
<div class="_container mb-5">
    <div class="page-title">
        <div class="line"></div>
        <div class="page-title-text">
            <div class="en">Calendar</div>
            <div class="ch">活動月曆</div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('exhibition-calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid' ],
                events: '{{ .Site.BaseURL }}exhibitions/index.json'
            });

          calendar.render();
        });
    </script>
    <div id="exhibition-calendar"></div>
</div>
{{ end }}