{{ define "main" }}
<script>
    function openDropdown() {
        $('.dropdown-year').on('click', (event) => {
            $('.item-sub-menu')
                .css('display', 'block');
        });
        
        $(document).click(function(e) {
            $('.dropdown-year')
                .not($('.dropdown-year').has($(e.target)))
                .children('.item-sub-menu')
                .css('display','none');
        });
        
    }
    $(document).ready(function(){
        openDropdown();
    });
</script>
<div class="_container">
    <div class="event-page">
        <div class="container-xl">
            <div class="top-title">
                <div class="en">Program</div>
                {{ if eq .Title "visual_art" }}
                    {{ $page_title := .Language.Params.tag_visual_art }}
                    <div class="ch">展演: {{ $page_title }}</div> 
                {{ else if eq .Title "public_art" }}
                    {{ $page_title := .Language.Params.tag_public_art }}
                    <div class="ch">展演: {{ $page_title }}</div>
                {{ else if eq .Title "performing_art" }}
                    {{ $page_title := .Language.Params.tag_performing_art }}
                    <div class="ch">展演: {{ $page_title }}</div> 
                {{ else if eq .Title "film_art" }}
                    {{ $page_title := .Language.Params.tag_film_art }}
                    <div class="ch">展演: {{ $page_title }}</div> 
                {{ else if eq .Title "ai_music" }}
                    {{ $page_title := .Language.Params.tag_ai_music }}
                    <div class="ch">展演: {{ $page_title }}</div> 
                <!-- year -->
                {{ else if eq .Title "2020spring" }}
                    {{ $page_title := .Language.Params.tag_2020spring }}
                    <div class="ch">展演: {{ $page_title }}</div> 
                {{ else if eq .Title "2019fall" }}
                    {{ $page_title := .Language.Params.tag_2019fall }}
                    <div class="ch">展演: {{ $page_title }}</div> 
                {{ else if eq .Title "2019spring" }}
                    {{ $page_title := .Language.Params.tag_2019spring }}
                    <div class="ch">展演: {{ $page_title }}</div>
                {{ else if eq .Title "2018fall" }}
                    {{ $page_title := .Language.Params.tag_2018fall }}
                    <div class="ch">展演: {{ $page_title }}</div> 
                {{ else if eq .Title "2019spring" }}
                    {{ $page_title := .Language.Params.tag_2018spring }}
                    <div class="ch">展演: {{ $page_title }}</div>
                {{ end }}
            </div>
            <!-- event tag -->
            <div class="event-tag">
                <div class="dropdown-year">
                    <div class="item default">Release Year</div>
                    <div class="item-sub-menu">
                        <a href="/categories/2020fall/" class="menu-item">2020秋</a>
                        <a href="/categories/2020spring/" class="menu-item">2020春</a>
                        <a href="/categories/2019fall/" class="menu-item">2019秋</a>
                        <a href="/categories/2019spring/" class="menu-item">2019春</a>
                        <a href="/categories/2018fall/" class="menu-item">2018秋</a>
                    </div>
                </div>
                <div class="tag-group">
                    <a href="/categories/visual_art/" class="item">{{ .Language.Params.tag_visual_art }}</a>
                    <a href="/categories/public_art/" class="item">{{ .Language.Params.tag_public_art }}</a>
                    <a href="/categories/performing_art/" class="item">{{ .Language.Params.tag_performing_art }}</a>
                    <a href="/categories/film_art/" class="item">{{ .Language.Params.tag_film_art }}</a>
                    <a href="/categories/ai_music/" class="item">{{ .Language.Params.tag_ai_music }}</a>
                </div>
                
                <div class="search">
                    <img src="" alt="" class="pic">
                    <input type="text" class="input">
                </div>
                
    
            </div>
            <!-- event-waterfall -->
            <div class="event-waterfall">
                <div class="row">
                    {{ $pages := sort .Pages ".Params.start_date" "desc" }}
                    {{ $paginator := .Paginate $pages 12 }}
                    {{ range $paginator.Pages }}
                    <div class="col event-item">
                        <div class="event-card">
                            <div class="link">
                                <div class="info">
                                    <div class="date">{{ .Params.start_date | strings.TrimLeft "" | strings.TrimRight ""  }}</div>
                                    <a href="{{ .RelPermalink }} ">
                                        <div class="img" style="background-image: url('{{ .Params.cover }}');"></div>
                                    </a>
                                    <div class="title"> {{ .Params.title }}
                                        <div class="slash"></div>
                                    </div>
                                    <div class="subtitle">{{ .Params.subtitle }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-pagination">
        {{ template "_internal/pagination.html" . }}
    </div>
    
</div>
{{ end }}