{{ define "main" }}
    <div class="container">
        <div class="page-title">
            <div class="line"></div>
            <div class="page-title-text">
                <div class="en">Column</div>
                <div class="ch">專欄文章</div>
            </div>
        </div>
        
        <div class="page-posts row">
            {{ range .Pages }}
                <a class="card post-card col-lg-4 col-12" href="{{ .RelPermalink }}">
                    <div class="card-title" style="padding: 0; text-align: center; margin-bottom: 0">
                        <p style="color: #ef9350; ">{{ dateFormat "2006-01-02" .Date }}</p>
                    </div>
                    
                    <div class="post-card-img" alt="..." style="height: 260px; background-image: url('{{ .Params.cover }} ');"></div>
                    <div class="card-body post-card-body">
                        <div class="card-body" style="height: 100px;padding: 0;">
                            <h5>{{ .Title }}</h5>
                        </div>
                        <div class="card-footer" style="padding: 0; display: inline-flex; align-items: center;">
                            {{ range .Params.tags }}
                                <button class="btn btn-outline-warning btn-sm"># {{ . }}</button>
                            {{ end }}
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    </div>
{{ end }}