<div class="foot">
    <div class="_container">
        <div class="container-fluid">
            <div class="row">
                <div class="about col-12 col-lg-7">
                    <div class="row info1">
                        <div class="mobile col-12">
                            <div class="open-time">{{ .Language.Params.footer_mobile_open_time }}</div>
                            <div class="phone">{{ .Language.Params.footer_mobile_phone }}</div>
                            <div class="fax">{{ .Language.Params.footer_mobile_fax }}</div>
                            <div class="mail">{{ .Language.Params.footer_mobile_mail }}</div>
                            <div class="address">{{ .Language.Params.footer_mobile_address }}</div>
                        </div>
                        <div class="left col-3 col-md-3">
                            <div class="open-time">活動時間</div><br class="mobile" />
                            <div class="phone">{{ .Language.Params.footer_phone }}</div><br class="mobile" />
                            <div class="fax">{{ .Language.Params.footer_fax }}</div><br class="mobile" />
                            <div class="mail">信箱</div><br class="mobile" />
                            <div class="address">{{ .Language.Params.footer_address }}</div>
                        </div>
                        <div class="right col-9 col-md-9">
                            <div class="open-time">110年6月6日上午9時30分至14時</div><br
                                class="mobile" />
                            <div class="phone">(02)2861-0503</div><br class="mobile" />
                            <div class="fax">(02)2861-3642</div><br class="mobile" />
                            <div class="mail">test@gmail.com</div><br class="mobile" />
                            <div class="address">臺北市士林區平菁街101號</div>
                        </div>
                    </div>
                    <div class="row quick-link">
                        <div class="col-12 col-lg-4 link-group">
                            <a href="/calendar/" class="links">{{ .Language.Params.footer_calendar }}</a>
                            <a href="/about/place/zyxel/" class="links">{{ .Language.Params.footer_zyxel }}</a>
                            <a href="/about/place/art-workshop/" class="links">
                                {{ .Language.Params.footer_exhibition_hall }}</a>
                            <a href=""class="links">
                                {{ .Language.Params.footer_art_workshop }}</a>
                            <a href="/about/logo" class="links">藝術中心識別標誌</a>
                        </div>
                        <div class="col-12 col-lg-4 link-group">
                            <a href="https://drive.google.com/drive/folders/1baNQnSnU9uYTDUBF-_YIczKccZERbWKm?usp=sharing" class="links" target="_blank">
                                {{ .Language.Params.footer_application_for_exhibition }}</a>
                            <a href="https://drive.google.com/drive/folders/1baNQnSnU9uYTDUBF-_YIczKccZERbWKm?usp=sharing" class="links" target="_blank">
                                {{ .Language.Params.footer_seeking }}</a>
                            <a href="/friends/" class="links">
                                {{ .Language.Params.footer_sponsor }}</a>
                            <a href="/friends/" class="links">
                                {{ .Language.Params.footer_volunteer }}</a>
                        </div>
                        <div class="col-12 col-lg-4 link-group">
                            <a class="links" href="http://www.nthu.edu.tw/" target="_blank">{{ .Language.Params.footer_school }}</a>
                            <a class="links" href="https://www.npm.gov.tw/" target="_blank">{{ .Language.Params.footer_museum }}</a>
                            <a class="links" href="http://npac-ntch.org/zh/" target="_blank">{{ .Language.Params.footer_theater }}</a>
                            <a class="links" href="http://www.npac-ntt.org/index" target="_blank">{{ .Language.Params.footer_taichung_theater }}</a>
                            <a class="links" href="https://www.globalplayer.com/live/classicfm/uk/" target="_blank">古典音樂電台</a>
                        </div>
                    </div><br class="mobile" /><br class="mobile" />
                    
                </div>
                <div class="col-12 col-lg-5">
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.203731091996!2d121.57451871500813!3d25.128802183928045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ada200cb1e3b%3A0x192c237f7742381a!2z5bmz562J5ZyL5bCP!5e0!3m2!1szh-TW!2stw!4v1619266968148!5m2!1szh-TW!2stw"
                        frameborder="0" style="border:0;" allowfullscreen="allowfullscreen"></iframe>
                </div>

            </div>
        </div>
    </div>
</div>