<nav class="menu">
  <div class="m-container">
    <a  href="/" class="brand">
      <img src="/img/logo.png" alt="" class="pic">
      <div class="content">
        <div class="ch">臺北市平等國小百周年校慶專屬網站</div>
        <div class="en">PING DENG ELEMENTARY SCHOOL 100TH ANNIVERSARY WEBSITE</div>
      </div>
    </a>
    
    <div class="main">
      {{ $language := .Language.Params }}
      {{ range .Site.Menus.main }}
      <a class="menu-a" href="{{ .URL | absURL }}">
        <div class="m-item" style="text-align: center;">{{ .Name }}<br>{{/* index $language .Identifier */}}</a>
        {{ if .HasChildren }}
        <div class="submenu">
          {{ range .Children }}
          <a href="{{ .URL | absURL }}" class="sub-item" style="text-align: center;">
            {{ .Name }}
            <br>
            {{/* index $language .Identifier */}}
          </a>

          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ end }}
      
      <!-- language dropdown -->
      <div class="dropdown invisible">
        <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #287C01; border-color: #287C01;">
          {{ .Language.LanguageName }}
        </a>      
        <div class="dropdown-menu">
          {{ range $.Site.Home.AllTranslations }}
          <a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          {{ end }}
        </div>
      </div>
    


    </div>
  </div>
</nav>

<!-- menu mobile -->
<nav class="navbar navbar-expand-lg navbar-dark menu-mobile">
  <a href="/" class="m-container navbar-brand">
    <div class="brand">
      <img src="/img/logo.png" alt="" class="pic">
      <div class="content">
        <div class="ch">臺北市平等國小</div>
        <div class="en">PING DENG ELEMENTARY SCHOOL</div>
      </div>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {{ $language := .Language.Params }}
      {{ range .Site.Menus.main }}
      <a class="menu-a nav-item" href="{{ .URL | absURL }}">
        <div class="m-item nav-link" style="text-align: center;">{{ .Name }}<br>{{ index $language .Identifier }}</a>
        {{ if .HasChildren }}
        <div class="submenu">
          {{ range .Children }}
          <a href="{{ .URL | absURL }}" class="sub-item nav-link" style="text-align: center;">
            {{ .Name }}
            <br>
            {{ index $language .Identifier }}
          </a>

          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ end }}
    </ul>
  </div>
</div>
</nav>
      <!-- language dropdown -->
      


    </div>
  </div>
</nav>