<div class="upcoming-event row justify-content-md-start">   
    {{ $counter := 0 }} 
    {{ range .items }}
        {{ $start_date := time .Params.start_date }}
        {{ $end_date := time .Params.end_date }}
        {{ if gt 9 $counter }}
        {{ if or (ge $start_date now) (ge $end_date now) }}
        {{ $counter = add $counter 1 }}
        <div class="event-item col-lg-4">
            
            <div class="event-container">
                <div class="info">
                    {{ if .Params.categories }}
                    {{ $typeOfArt := index .Params.categories 0 }}
                    {{ if eq $typeOfArt "visual_art" }}
                        {{ $typeOfArt := .Language.Params.tag_visual_art }}
                    <div class="type">{{ $typeOfArt }}</div>
                    {{ else if eq $typeOfArt "public_art" }}
                        {{ $typeOfArt := .Language.Params.tag_public_art }}
                    <div class="type">{{ $typeOfArt }}</div>
                    {{ else if eq $typeOfArt "performing_art" }}
                        {{ $typeOfArt := .Language.Params.tag_performing_art }}
                    <div class="type">{{ $typeOfArt }}</div>
                    {{ else if eq $typeOfArt "film_art" }}
                        {{ $typeOfArt := .Language.Params.tag_film_art }}
                    <div class="type">{{ $typeOfArt }}</div>
                    {{ else if eq $typeOfArt "ai_music" }}
                        {{ $typeOfArt := .Language.Params.tag_ai_music }}
                    <div class="type">{{ $typeOfArt }}</div>

                    {{ end }}
                    {{ end }}
                    <div class="date">{{ .Params.start_date | strings.TrimLeft "" | strings.TrimRight ""  }}</div>
                </div>
                <div class="pic" style="background-image: url('{{ .Params.cover }}');"></div>
                <div class="title">{{ .Params.title }}</div>
                <div class="slash"></div>
                <div class="sub-title">{{ .Params.subtitle }}</div>
                <div class="text">{{ .Content }}</div>
                <a href="{{ .Permalink }}">
                    <div class="more">查看更多</div>
                </a>
            </div>
        </div>
        {{ end }}
        {{ end }}
    {{ end }}
</div>