.page-news
    .news-card
        text-decoration: none
        color: $black
        background: $dark_brown
        //width: 300px
        //margin: 5px
        border: 2px $black
        padding: 5px 20px

        &:hover
            color: #287C01
        .news-card-date
            background: #287C01
            color: $dark_brown
            text-align: center
            margin:auto
            padding: 5px
            font-size: 20px
            border-radius: 18px
            margin-right: 10px
        .news-card-title
            font-size: 24px