{{ if eq (.Get 0) "curator" }}
{{ range .Site.Data.faculty.curator}}
    <div class="people-card">
        <div class="row">
            <div class="col-12 col-lg-2">
                <img src="{{ .image }}" class="w-100"/>
            </div>
            <div class="col-12 col-lg-9">
                <div class="title">{{ .name }}</div><br/>
                <div class="subtitle">| {{ .title }} | {{ .education }}</div>
                <div class="content">{{ .en_name }}, {{ .en_title }}, {{ .en_education }}</div>
                <div class="email">Email: {{ .email }}</div>
            </div>
        </div>
    </div>
{{ end }}
{{ end }}
{{ if eq (.Get 0) "director" }}
{{ range .Site.Data.faculty.director}}
<div class="people-card">
    <div class="row">
        <div class="col-12 col-lg-2">
            <img src="{{ .image }}" class="w-100"/>
        </div>
        <div class="col-12 col-lg-9">
            <div class="title">{{ .name }}</div><br/>
            <div class="subtitle">| {{ .title }} | {{ .education }}</div>
            <div class="content">{{ .en_name }}, {{ .en_title }}, {{ .en_education }}</div>
            <div class="email">Email: {{ .email }}</div>
        </div>
    </div>
    
    
</div>
{{ end }}
{{ end }}
